body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pinyintextarea {
    background-color: yellow;
    font-size:250%;
    width: 80%
}

.pinyintextareawrong {
    background-color: red;
    font-size:250%;
}

.pinyinbutton {
  font-size: 1em;
}


.guessCharacterInput {
	display: flex;
	width:100%;
	flex-direction:'column';
	flex-flow : flex-wrap;
	justify-content: center;
	margin: 0px;
  padding: 0px;
}

.guessCharacterInputFieldset {
	margin: 2px;
  padding: 2px;
}

.cardGame {

}
.cardGameComingSoon {
  disabled: true
}

#gameSelector {
  display: flex;
	width:100%;
	flex-direction:'column';
	flex-flow : flex-wrap;
}
